development:
  TWILIO_FROM:
  TWILIO_SID:
  TWILIO_AUTH_TOKEN:
  BITLY_TOKEN:
  GOOGLE_CLIENT_ID:
  GOOGLE_CLIENT_SECRET:
production:
  TWILIO_FROM:
  TWILIO_SID:
  TWILIO_AUTH_TOKEN:
  BITLY_TOKEN:
  GOOGLE_CLIENT_ID:
  GOOGLE_CLIENT_SECRET: 
